# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/laborregamarket?schema=public"

# JWT — generar con: openssl rand -base64 32
JWT_SECRET="cambia-esto-por-un-secreto-seguro-de-al-menos-32-caracteres"
JWT_EXPIRES_IN="7d"

# App
NEXT_PUBLIC_APP_NAME="LaBorregaMarket"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
